*{
    /*Ensure all text on the website has the same font*/

    font-family: "Helvetica Neue";
    font-weight: 300;
}

body{
    background-color: #fafafa;
}

.content{
    max-width: 960px;
    margin: auto;
}

.sectionHeaders{
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 400;  /*Regular weighting*/
    font-size: 120%;

    color: #4d90a0;
}

.subHeaders{
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 400; /*Regular Weighting*/
}

.experienceInfo{
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 200;
    font-style: italic;
    font-size: 90%
}

p{
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 200; /*Thin Weighting*/
}

.topLine{
    margin-top: 5px;
    margin-bottom: 15px;

    font-weight: 500;
    font-size: 150%;
}

.aboutMe{
    margin-top: 15px;
    margin-bottom: 15px;
}

.skills{
    margin-top: 15px;
    margin-bottom: 15px;
}

.previousExperience{
    margin-top: 15px;
    margin-bottom: 15px;
}

.education{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Color Palette*/
.colorPalette{
    width: 600px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 20px;
}
.colorPalette_lightShades{
    width: 100px;
    height: 90px;
    background-color: #fafafa;
    text-align: center;
    padding-top: 10px;
    float: left;
    margin-right: 20px;
    border: 2px solid black;
}
.colorPalette_lightAccent{
    width: 100px;
    height: 90px;
    background-color: #c5965e;
    text-align: center;
    padding-top: 10px;
    float: left;
    margin-right: 20px;
    border: 2px solid black;
}
.colorPalette_mainColor{
    width: 100px;
    height: 90px;
    background-color: #4d90a0;
    text-align: center;
    padding-top: 10px;
    float: left;
    margin-right: 20px;
    border: 2px solid black;
}
.colorPalette_darkAccent{
    width: 100px;
    height: 90px;
    background-color: #697083;
    text-align: center;
    padding-top: 10px;
    float: left;
    margin-right: 20px;
    border: 2px solid black;
}
.colorPalette_darkShades{
    width: 100px;
    height: 90px;
    background-color: #1d2138;
    text-align: center;
    padding-top: 10px;
    float: left;
    border: 2px solid black;
}
